// Place all the styles related to the Calculators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
body {
	padding-left: 30px;
	padding-top:  10px;
}

.form-group{
	label{
		width: 180px;
	}
}