// Place all the styles related to the Calculators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box; 
  box-sizing:          border-box;
}

body {
	padding-left:   30px;
	padding-right:  30px;
	padding-top:    10px;
	padding-bottom: 10px;
}

.form-group{
	label{
		width: 180px;
	}
}

.spacer {
	margin-top: 30px;
}

#title {
	margin-bottom: 15px;
}

#total {
	margin-bottom: 15px;
}

#calculator {
    border-radius: 25px;
    border: 2px solid #aaa;
    padding: 10px; 
    width: 500px;
    margin: auto;
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 30%;
  margin-bottom: 1px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    list-style: none;
    margin: 0 0 20px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  display: inline;
  .form-control {
    color: $state-danger-text;
    width: 30%;
    display: inline;
  }
}

.form-control {
	width: 30%;
	display: inline;
	line-height: 14px;
}
.form-group-wide {
	@extend .form-group;
	width: 350px;
}